{% extends 'products/base.html' %}
{% load static %}

{% block meta_social %}
  <meta name="title" content="AI for Radiology">
  <meta property="og:title" content="AI for Radiology" />
  {% if company.logo %}
    <meta property="og:image" content= "{{company.logo.url}}" />
  {% endif %}
  <meta property="og:description" content= "Find out more about {{company.company_name}}"/>
{% endblock %}

{% block title %}
    {{company.company_name}} - {{ block.super }}
{% endblock %}

{% block content %}

  <div class="container pl-0">
    <div class="row">
      <div class="col-sm-10 pb-5">
        <div class="h1 mb-1"> Your profile </div>
      </div>

      <div class="col-sm-2">
        <div>
          {% if company.logo %}
            <img src="{{company.logo.url}}" alt="Logo" style="width:100%">
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div>
    <h2 class="h4">Company</h2>
    <table class="table">
      <tr class="d-flex">
        <td class="col-4"><div class="h5 mb-1"> <a href= "{% url 'products:company-detail' slug=company.slug %}" title={{company.company_name}}>{{company.company_name}}</a></div></td>
        <td class="col-2">Unpublished <br> <p class="small text-muted">Last edit: 10-10-2021</p></td>
        <!-- If published add, published date -->
        <td class="col-4"><i class="fas fa-exclamation-triangle text-radboud"></i> Please complete and verify draft</td>
        <td class="col-2"><a href="{% url 'products:company-detail' slug=company.slug %}" title="{{company.company_name}}" class="btn btn-square btn-radboud">
          <i class="fas fa-edit"></i>
          Edit</a></td>
      </tr>
    </table>
  </div>

  <div class="pb-5">
    <h2 class="h4">Products</h2>
    <table class="table">
      {% for product in products_by_company %}
        <tr class="d-flex">
          <td class="col-4"><div class="h5 mb-1"> <a href= "{% url 'products:product-detail' slug=product.slug %}" title={{product.product_name}}>{{product.product_name}}</a></div></td>
          <td class="col-2">Unpublished <br> <p class="small text-muted">Last edit: 10-10-2021</p></td>
          <td class="col-4"><i class="fas fa-hourglass-half text-radboud"></i> Waiting for approval</td>
          <td class="col-2"><a href="{% url 'products:company-detail' slug=company.slug %}" title="{{company.company_name}}" class="btn btn-square btn-radboud">
            <i class="fas fa-edit"></i>
            Edit</a></td>
        </tr>
      {% endfor %}
    </table>
    <a href="{% url 'products:company-detail' slug=company.slug %}" title="Add product" class="btn btn-square btn-radboud">
      <i class="fas fa-plus"></i>
      Add new product
    </a>
  </div>

  <div class="pb-5">
    <h2 class="h4">Moderators</h2>
    <table class="table">
      {% for moderator in moderators %}
        <tr class="d-flex">
          <td class="col-2">{{ moderator.username }}</td>
          <td class="col-3">{{ moderator.email }}</td>
          <td><a href="{% url 'products:company-detail' slug=company.slug %}" title="{{company.company_name}}" class="btn btn-square btn-radboud">
            <i class="fas fa-trash"></i>
            Remove</a></td>
        </tr>
      {% endfor %}
    </table>
    <a href="{% url 'products:company-detail' slug=company.slug %}" title="Add moderator" class="btn btn-square btn-radboud">
      <i class="fas fa-plus"></i>
      Add moderator</a>
  </div>

  <div class="pb-5">
    <h2 class="h4">Personal profile</h2>
    <table class="table">
      <tr class="d-flex">
        <td class="col-2">Name</td>
        <td class="col-3">{{ user.username }}</td>
      </tr>
      <tr class="d-flex">
        <td class="col-2">Email</td>
        <td class="col-3">{{ user.email }}</td>
      </tr>
    </table>
    <a href="{% url 'products:company-detail' slug=company.slug %}" title="Add moderator" class="btn btn-square btn-radboud">
      <i class="fas fa-edit"></i> Edit personal profile</a>
    <a href="{% url 'products:company-detail' slug=company.slug %}" title="Add moderator" class="btn btn-square btn-radboud">
      <i class="fas fa-edit"></i> Change password</a>
  </div>
{% endblock %}
