{% load url %}

{% if user.is_authenticated %}
    {% if ACTSTREAM_ENABLE %}
    <li class="nav-item mr-auto">
        <!--check if company has any items set to unpublished. add in view. query if unpublished. if company.has_unpublished-->
        {% if user.user_profile.has_unread_notifications %}
            <!--href to company-profile-->
            <a class="nav-link pr-1"
            href="{}"
            title="Notifications">
                <i class="align-middle far fa-fw fa-lg fa-bell"></i>
            </a>
        {% endif %}
    </li>
    {% endif %}

    <!-- create partial and add inclusiontag -->
    <li class="nav-item dropdown">
        <!--if is_company-->
        <a href="#" class="nav-link dropdown-toggle align-top"
           data-toggle="dropdown" role="button"
           aria-haspopup="true"
           aria-expanded="false">
           {{ company.company_name }}
        </a>
        <!--elif is_admin -->
        <a href="#" class="nav-link dropdown-toggle align-top"
            data-toggle="dropdown" role="button"
            aria-haspopup="true"
            aria-expanded="false">
            {{ user.username }}
        </a>
        <!--endif-->
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item"
               href="">
                Signed in as <b>{{ user.username }}</b></a> <!--href to company profile determined in view. View returns company which matches user -->
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"
               href="">
                Your Profile</a> <!--href to company profile determined in view. View returns company which matches user -->
            <a class="dropdown-item"
               href="{% url 'products:account_logout' %}?next=/">
                Sign out</a>
        </div>
    </li>
{% else %}
    <li class="pr-2"><a
            class="btn text-radboud"
            href="{% url 'products:account_login' %}?next={{ request.build_absolute_uri }}#signin">Sign In</a></li>
{% endif %}
