{% extends "products/account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <h1>{% trans "Sign Up" %}</h1>
    <p>We did not recognize the e-mail address. Please, make sure to sign up with the e-mail address on which you received the invitation. If the sign up still fails, please contact <a href="mailto:kicky.vanleeuwen@radboudumc.nl">kicky.vanleeuwen@radboudumc.nl</a></p>

    <a href="{% url 'products:account_signup' %}" class="btn btn-radboud">Try again</a>

{% endblock %}
